* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    text-align: center;
    font-size: 3.5rem;
    padding: 15px 0;
    font-weight: 800;
    text-shadow: 1px 5px 6px;
    background-color:lightgreen;
    border-bottom: 1px solid black;
}

.container {
    flex: 1;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.main div {
    text-align: center;
}

.central {
    display: grid;
}

.game-board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    place-self: center;
    /* margin-top: 100px; */
}

.cell {
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
    font-style: italic;
    font-weight: bold;
    user-select: none;
}

.cell:hover {
    box-shadow: 3px 3px 3px;
} 

.first-row-first-cell {
    border-top: none;
    border-left: none;
}

.first-row {
    border-top: none;
}

.first-row-last-cell {
    border-top: none;
    border-right: none;
}

.first-cell {
    border-left: none;
}

.last-cell {
    border-right: none;
}

.last-row-first-cell {
    border-left: none;
    border-bottom: none;
}

.last-row {
    border-bottom: none;
}

.last-row-last-cell {
    border-bottom: none;
    border-right: none;
}

.player-turn {
    font-size: 1.7rem;
    padding: 40px 0;
}

.result {
    font-size: 1.9rem;
    padding: 10px 0;
    font-style: italic;
}

.mark-turn {
    background-color: black;
    color: white;
    padding: 5px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    display: inline-block;
}

.restart-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart-button {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: aquamarine;
}

.footer {
    text-align: center;
    font-size: 1.7rem;
}

.info {
    background-color: white;
    width: 100%;
    border-top: 1px solid black;
}

a:visited {
    color: black;
}